.dailyWorkoutContainer{
    padding: 10px;
}
.dailyWorkoutContainer .Title{
    display:  flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    /* margin-bottom: 5px; */
}
.DailyWorkoutbanner{
    position: relative;
    display:  inline-block;
} 
.DailyWorkoutbanner .imageBanner{
    border-radius: 25px;

}
.DailyWorkoutbanner .tests{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(241, 3, 3, 0), rgba(8, 64, 73, 0.021),rgba(0, 0, 0, 0.63));
    border-radius: 25px;
    color: black;
}    
.tests .dayOne{
    position: relative;
    left: 5%;
    top: 75%;
    font-weight: 700;
    color: #ffffff;
    /* margin-bottom: 5px; */
}
.tests .time{
    position: relative;
    left: 5%;
    top: 75%;
    color: var( --color-iconBackgroung);
}
.playvideo{
    position: relative;
    left: 45%;
    top: 35%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    color: #ffffff;
    cursor: pointer;
    /* border: none; */
}
.playvideo:hover {
    background: var(--color-button);
    font-weight: 600;
    border: 2px solid white;
} 
.videoContainer{
    /* margin-right: 20px; */
    width: 600px;
    height: 300px;
    /* border: 2px solid white; */
}
video{
    width: 500px;
    height: 300px;
    border-radius: 25px;
    /* padding: 15px; */
    position: relative;
    left: 5%;    
}
