*{
    padding: 0;
    margin: 0;
}

:root {
    --color-body: #191919;
    --color-heading: #eef3db;
    --color-text: #FFF;
    --color-card: #d0fd3e13;
    --color-card2: #d0fd3e8f;
    --color-iconBackgroung: #FF0000;
    --color-iconBackgroung2: #46540f;
    --color-button : #ff000098;
    --sidebar-width: 240px;
    --sidebar-background: #181818;
    --Section-background: #0e0c0c;
    --Section-background2: #191919;
    --font-base: "Kanit";
}


#layout{
    display: flex;
    width: 100%;
    height: 100vh;
}
#side-nav{
    justify-content: center;
    align-items: center;
    background: var(--sidebar-background);
    width: 20px;
    height: 100%;
    padding: 30px 15px;

}
#side-nav .Links{
    justify-content: center;
    align-items: center;
}
#display{
    background: var(--Section-background);
    width: calc(100% - 40px);
    height: 100vh;
    color:  var( --color-text);
    /* background-color: rgb(235, 235, 235); */

}

#display .firstRow{
    /* position: relative; */
    width: 35%;
    height: 200px;
    display: flex;
    margin-left:  30px;
    /* border:  2px solid white; */
}
.AerobicsSlider, 
.YogaSlider,
.AnaerobicsSlider{
    width: 30%;
    border:  2px solid white;
    margin: 30px;

}

.Dailies{
    margin: 10px;
}