.topNavContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-color: var(--sidebar-background);
}
.seacrh{
    align-content: center;
    width: 50px;
}

.alertnProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 300px;
}